<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="=== TRACE %d{HH:mm:ss.SSS} [%t %M %F %L] %-5level %msg%n" />
            <!--
                <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t %F %L] %-5level %logger{36} - %msg%n" />
                https://logging.apache.org/log4j/2.x/manual/layouts.html
                %l %L
             -->
        </Console>
        <File name="File" fileName="cass-stress-trace.log" immediateFlush="false" append="false">
            <PatternLayout pattern="=== TRACE %d{HH:mm:ss.SSS} [%t %M %F %L] %-5level %msg%n" />
            <!--
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            -->
        </File>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console" />
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>
